@model Site.Models.ChangePasswordModel

@{
    ViewBag.Title = "Cambiar contraseña";
}

<h1>@ViewBag.Title</h1>
<p>
    La contraseña debe tener al menos @Usuario.MinRequiredPasswordLength caracteres
</p>

@using (Html.BeginForm()) {
    @Html.ValidationSummary()
    <table class="formulario">
        <tr>
            <th>@Html.LabelFor(m => m.OldPassword)</th>
            <td>
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
            </td>
        <tr>
            <th>@Html.LabelFor(m => m.NewPassword)
            <td>
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
        <tr>
            <th>@Html.LabelFor(m => m.ConfirmPassword)
            <td>
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
        <tr>
            <th></th>
            <td>
                <input type="submit" value="Cambiar contraseña" class="defaultbutton" />
    </table>
}
