@model Site.Models.Evento
<table class="nakedtable" data-initializefunction="">
    <thead>
        <tr>
            <th>@Html.LabelFor(model => Model.Mercaderia.Mercaderias[0].Producto)</th>
            <th><label class="intralabel">Peso<br /> Unitario (Kg)</label></th>
            <th><label class="intralabel">@Html.LabelFor(model => Model.Mercaderia.Mercaderias[0].Cantidad) (Un.)</label></th>
            @if (Model.mostrarRemanente()) {<th><label class="intralabel">Cantidad<br />Remanente (Un.)</label></th>}
            @if ((Model.Tipo == "Venta" || (Model.Tipo == "Envio" && Model.Cargamento.TipoVenta == "Precio Cerrado"))) {
                <th><label class="intralabel">Precio<br /> Unitario ($)</label></th> 
            }
            
            @*@if (Model.Tipo == "Venta") {<th><label class="intralabel">Precio<br /> por Kg ($)</label></th>}*@
                                                                                         
            <th><label class="intralabel">Peso (Kg)</label></th>
            @*<th>@Html.LabelFor(model => Model.Mercaderia.Mercaderias[0].Bultos)</th>*@
            @if ((Model.Tipo == "Venta" || ((Model.Tipo == "Envio" || Model.Tipo == "Recepcion") && Model.Cargamento.TipoVenta == "Precio Cerrado"))) {<th><label class="intralabel">Total ($)</label></th>}
            @*<th>@Html.LabelFor(model => Model.Mercaderia.Mercaderias[0].Observaciones)</th>*@
        </tr>
    </thead>
    <tbody>
        @for (int i = 0;i < Model.Mercaderia.Mercaderias.Count();i++) {
            <tr>
                <td>@Html.ProductoSuperList("ProductoID", "Descripcion", Model.Mercaderia.Mercaderias[i].ProductoID, Model.Mercaderia.Mercaderias[i].Producto, "Mercaderia.Mercaderias", i, new ProductoSuperListHtmlHelper.Options() { ProveedorID = Model.Cargamento.ProveedorID })</td>
                <td>@Html.EditorFor(model => Model.Mercaderia.Mercaderias[i].PesoUnitario, new { @class = "pesounitario", @style = "width:60px" }) @Site.Models.SpinnerMinusHtmlHelper.SpinnerMinus("Mercaderia_Mercaderias_" + i.ToString() + "__PesoUnitario") @Site.Models.SpinnerPlusHtmlHelper.SpinnerPlus("Mercaderia_Mercaderias_" + i.ToString() + "__PesoUnitario") </td>
                
                
                @*@if (Model.Tipo == "Venta") {<td>@Html.EditorFor(model => Model.Mercaderia.Mercaderias[i].PrecioKg, new { @class = "preciokg ", @style = "width:60px" }) @Site.Models.SpinnerMinusHtmlHelper.SpinnerMinus("Mercaderia_Mercaderias_" + i.ToString() + "__PrecioKg") @Site.Models.SpinnerPlusHtmlHelper.SpinnerPlus("Mercaderia_Mercaderias_" + i.ToString() + "__PrecioKg") </td>}*@
                
                <td>@Html.EditorFor(model => Model.Mercaderia.Mercaderias[i].Cantidad, new { @class = "cantidad ", @style = "width:60px", @value = (Model.mostrarRemanente() ? "0" : Model.Mercaderia.Mercaderias[i].Cantidad.ToString("N0")) }) @Site.Models.SpinnerMinusHtmlHelper.SpinnerMinus("Mercaderia_Mercaderias_" + i.ToString() + "__Cantidad") @Site.Models.SpinnerPlusHtmlHelper.SpinnerPlus("Mercaderia_Mercaderias_" + i.ToString() + "__Cantidad") </td>
                @if (Model.mostrarRemanente()) { <td class="remanente" style="text-align:center">@Model.Mercaderia.Mercaderias[i].Cantidad.ToString("N0")</td>}
                @if ((Model.Tipo == "Venta" || (Model.Tipo == "Envio" && Model.Cargamento.TipoVenta == "Precio Cerrado"))) {
                    <td>@Html.EditorFor(model => Model.Mercaderia.Mercaderias[i].PrecioUnitario, new { @class = "preciounitario", @style = "width:60px" }) @Site.Models.SpinnerMinusHtmlHelper.SpinnerMinus("Mercaderia_Mercaderias_" + i.ToString() + "__PrecioUnitario") @Site.Models.SpinnerPlusHtmlHelper.SpinnerPlus("Mercaderia_Mercaderias_" + i.ToString() + "__PrecioUnitario") </td>
                }
                <td>@Html.EditorFor(model => Model.Mercaderia.Mercaderias[i].Peso, new { @class = "peso ", @style = "width:60px", @value = (Model.mostrarRemanente() ? "0" : Model.Mercaderia.Mercaderias[i].Peso.ToString("N2")) }) @Site.Models.SpinnerMinusHtmlHelper.SpinnerMinus("Mercaderia_Mercaderias_" + i.ToString() + "__Peso") @Site.Models.SpinnerPlusHtmlHelper.SpinnerPlus("Mercaderia_Mercaderias_" + i.ToString() + "__Peso") </td>
                @*<td>@Html.EditorFor(model => Model.Mercaderia.Mercaderias[i].Bultos, new { @class = "bultos ", @style = "width:60px" }) @Site.Models.SpinnerMinusHtmlHelper.SpinnerMinus("Mercaderia_Mercaderias_" + i.ToString() + "__Bultos") @Site.Models.SpinnerPlusHtmlHelper.SpinnerPlus("Mercaderia_Mercaderias_" + i.ToString() + "__Bultos") </td>*@
                @if ((Model.Tipo == "Venta" || (Model.Tipo == "Envio" && Model.Cargamento.TipoVenta == "Precio Cerrado"))) {<td>@Html.EditorFor(model => Model.Mercaderia.Mercaderias[i].Precio, new { @class = "precio", @style = "width:60px" }) @Site.Models.SpinnerMinusHtmlHelper.SpinnerMinus("Mercaderia_Mercaderias_" + i.ToString() + "__Precio") @Site.Models.SpinnerPlusHtmlHelper.SpinnerPlus("Mercaderia_Mercaderias_" + i.ToString() + "__Precio") </td>}
                @*<td>@Html.EditorFor(model => Model.Mercaderia.Mercaderias[i].Observaciones)</td>*@
                @Html.HiddenFor(model => Model.Mercaderia.Mercaderias[i].ItemMercaderiaID, new { @value = Model.MercaderiaID.ToString() })
                @Html.HiddenFor(model => Model.Mercaderia.Mercaderias[i].ProveedorID)
            </tr>
        }
    </tbody>
    <tfoot>
        @Html.AgregarLineaTr(6)
        <tr>
            @if (Model.mostrarRemanente()) {<th></th>}
            <th colspan="@((Model.Tipo == "Venta" || (Model.Tipo == "Envio" && Model.Cargamento.TipoVenta=="Precio Cerrado"))? "4": "3" )" style="text-align:right"><label class="intralabel">Total</label></th>
            <td>@Html.EditorFor(model => Model.Mercaderia.Peso, new { @class = "pesototal" })</td>
            @*<td>@Html.EditorFor(model => Model.Mercaderia.Bultos, new { @class = "bultostotal" })</td>*@
            @if ((Model.Tipo == "Venta" || (Model.Tipo == "Envio" && Model.Cargamento.TipoVenta == "Precio Cerrado"))) {<td>@Html.EditorFor(model => Model.Mercaderia.Precio, new { @class = "preciototal" })</td>}
        </tr>
    </tfoot>
</table>
<script type="text/javascript">
    $(".agregarLineaRow").prepend('<td class="agregarLinea" style="text-align:left">Dejar vacío para borrar la línea</td>');
    @if (Model.mostrarRemanente())    {
        <text>
            $(".cantidad").val('0');
            $(".peso").val('0,00');
            $(".precio").val('0,00');
            $(".pesototal").val('0,00');
            $(".preciototal").val('0,00');
        </text>
    }
</script>
@if (Model.TipoEventoID > new EventoTipo("Recepcion").ID) {
    <br/>
    <p class="agregarLinea">Valide el formulario a guardar, se requerirán permisos de administrador para borrarlo.</p>    
}